:root {
 /* Primary colors */

--dk-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);

/* Neutral colors */

--very-dk-blue: hsl(212, 21%, 14%);
--dk-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);

/* Font-sizes */

--fs-paragraph: 0.875rem;
}

/* Global Variables */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
}

body {
  max-width: 100%;
  min-height: 100vh;
  font-size: var(--fs-paragraph);
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cream);
}

.container {
  width: 345px;
  margin: 30px auto;
  background-color: var(--white);
  border-radius: 10px;
}

img {
  width: 345px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info {
  padding-inline: 25px;
  padding-bottom: 20px;
}

.preview {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  margin: 20px 0 15px 0;
  color: var(--dk-grayish-blue);
}

.title {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--very-dk-blue);
}

.desc {
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin: 20px 0;
  color: var(--dk-grayish-blue);
}

.sale-price {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: var(--dk-cyan);
}

.regular-price {
  font-size: 0.9rem;
  color: var(--dk-grayish-blue);
  margin-left: 20px;
  text-decoration: line-through;
}

.price {
  display: flex;
  align-items: center;
}

.add-to-cart {
  width: 295px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: var(--dk-cyan);
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--white);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(158, 34%, 17%);
}

.add-to-cart > a > img {
  width: 15px;
}

.attribution { 
  font-size: 11px;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 600px) {
  .container {
    width: 637px;
    max-height: 470px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -318px;
  /* -1/2 width */
    margin-top: -235px;
  /* -1/2 height */

  }

  img {
    max-width: 333px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .info {
    max-width: 244px;
    padding-inline: 30px;
    padding-bottom: 0;
  }

  .preview {
    margin: 40px 0 25px 0;
  }

  .title {
    width: 233px
  }

  .desc {
    margin: 25px 0 30px 0;
  }
  
  .price {
    margin-bottom: 20px;
  }

  .add-to-cart {
    max-width: 244px;
  }

  footer {
    position: absolute;
    top: 80%;
    left: 50%;
    translate: -50%;
  }  
}