:root {
 /* Primary colors */

--dk-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);

/* Neutral colors */

--very-dk-blue: hsl(212, 21%, 14%);
--dk-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);

/* Font-sizes */

--fs-paragraph: 0.875rem;
}

/* Global Variables */

* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 375px;
  min-height: 100vh;
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cream);
  margin: 0 auto;
}

p {
  font-size: 14px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }